.section3{
    height: 100vh;
}
.projects-header{
    margin: 1rem;
    padding: 0;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 3rem;
}
.projects {
    padding: 0;
    margin-inline: 5rem;
    display: flex;
    justify-content:center;
    align-items: center;
}

.projects > div {
    background-color: black;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
    margin: 1rem;
}
.img {
    height: 16rem;
    aspect-ratio: 1;
    object-fit: contain;
    padding: 1rem;
    border-radius: 10px;
}

@media (max-width: 39em) {
    .projects {
        flex-direction: column;
    }
}

@media (min-width: 39em) {
   
}